<html>
    <body>
        <h1><%=title %></h1>
        <form method="POST" action="/new">
            <div>
                <label for="user">Name</label>
                <input type="text" id="user" name="user">
            </div>
            <div>
                <label for="messageText">Message</label>
                <textarea type="text" id="messageText" name="messageText"></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>     
    </body>
</html>